here is code for the section 1 of the part a ex.
it uses two help functions.
comlexities are in the end.

In [1]:
import pandas as pd
import numpy as np
print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

In [2]:
df = pd.read_excel('./data/logs.txt.xlsx', header=None, names = ['mixed'])
df

                                                  mixed
0        Timestamp: 2023-10-27 10:00:00, Error: ERR_400
1        Timestamp: 2023-10-27 10:00:00, Error: ERR_500
2       Timestamp: 2023-10-27 10:00:00, Error: INFO_200
3       Timestamp: 2023-10-27 10:00:00, Error: INFO_200
4       Timestamp: 2023-10-27 10:00:00, Error: WARN_101
...                                                 ...
999995   Timestamp: 2023-10-27 10:00:00, Error: ERR_500
999996  Timestamp: 2023-10-27 10:00:00, Error: INFO_200
999997   Timestamp: 2023-10-27 10:00:00, Error: ERR_404
999998   Timestamp: 2023-10-27 10:00:00, Error: ERR_500
999999   Timestamp: 2023-10-27 10:00:00, Error: ERR_500

[1000000 rows x 1 columns]

In [3]:
txt = df.head(1).mixed[0]

x = txt.split()

print(x)

['Timestamp:', '2023-10-27', '10:00:00,', 'Error:', 'ERR_400']

In [4]:
# Split the 'mixed' column into two separate columns 'A' and 'B'
df[['t','date', 'hour', 'e', 'err']] = df['mixed'].str.split(' ', expand=True)
df

,mixed,t,date,hour,e,err
0,"Timestamp: 2023-10-27 10:00:00, Error: ERR_400",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_400
1,"Timestamp: 2023-10-27 10:00:00, Error: ERR_500",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_500
2,"Timestamp: 2023-10-27 10:00:00, Error: INFO_200",Timestamp:,2023-10-27,"10:00:00,",Error:,INFO_200
3,"Timestamp: 2023-10-27 10:00:00, Error: INFO_200",Timestamp:,2023-10-27,"10:00:00,",Error:,INFO_200
4,"Timestamp: 2023-10-27 10:00:00, Error: WARN_101",Timestamp:,2023-10-27,"10:00:00,",Error:,WARN_101
...,...,...,...,...,...,...
999995,"Timestamp: 2023-10-27 10:00:00, Error: ERR_500",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_500
999996,"Timestamp: 2023-10-27 10:00:00, Error: INFO_200",Timestamp:,2023-10-27,"10:00:00,",Error:,INFO_200
999997,"Timestamp: 2023-10-27 10:00:00, Error: ERR_404",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_404
999998,"Timestamp: 2023-10-27 10:00:00, Error: ERR_500",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_500
999999,"Timestamp: 2023-10-27 10:00:00, Error: ERR_500",Timestamp:,2023-10-27,"10:00:00,",Error:,ERR_500

In [5]:
errs = pd.DataFrame(df['err'])
errs

             err
0        ERR_400
1        ERR_500
2       INFO_200
3       INFO_200
4       WARN_101
...          ...
999995   ERR_500
999996  INFO_200
999997   ERR_404
999998   ERR_500
999999   ERR_500

[1000000 rows x 1 columns]

In [6]:
uniqe = errs['err'].unique()
uniqe

array(['ERR_400', 'ERR_500', 'INFO_200', 'WARN_101', 'ERR_404'],
      dtype=object)

In [7]:
N = 4

In [8]:
# shuffled = errs.sample(frac=1)
# print(shuffled)
divided =np.array_split(errs, N)  
divided

c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

[             err
 0        ERR_400
 1        ERR_500
 2       INFO_200
 3       INFO_200
 4       WARN_101
 ...          ...
 249995   ERR_404
 249996   ERR_500
 249997  INFO_200
 249998   ERR_404
 249999  WARN_101

 [250000 rows x 1 columns],
              err
 250000  INFO_200
 250001  INFO_200
 250002   ERR_400
 250003  WARN_101
 250004   ERR_404
 ...          ...
 499995  INFO_200
 499996  INFO_200
 499997  INFO_200
 499998  WARN_101
 499999  WARN_101

 [250000 rows x 1 columns],
              err
 500000   ERR_400
 500001  WARN_101
 500002   ERR_404
 500003  WARN_101
 500004  INFO_200
 ...          ...
 749995   ERR_400
 749996  INFO_200
 749997  WARN_101
 749998   ERR_404
 749999   ERR_400

 [250000 rows x 1 columns],
              err
 750000   ERR_404
 750001   ERR_404
 750002  WARN_101
 750003   ERR_400
 750004   ERR_500
 ...          ...
 999995   ERR_500
 999996  INFO_200
 999997   ERR_404
 999998   ERR_500
 999999   ERR_500

 [250000 rows x 1 columns]]

In [9]:
def find_frequencies(arr:list[str], unique_values):
    print('uniqe_values:', unique_values)
    frequencies = {}
    for value in unique_values:
        print(value)
        frequencies[value] = np.sum(arr == value).values.sum()
    for value in unique_values:
        print(f"Value: {value}, Frequency: {frequencies[value]}")
    return frequencies

In [10]:
def get_full_dict_from_divided(divided, uniqe, N):
    print("N:", N)
    dict = {}
    for i in range(N):
        d = find_frequencies(divided[i], uniqe)
        for u in uniqe:
            dict[u] = dict.get(u,0) + d[u]
    return dict

In [11]:
N = 4
full_dict = get_full_dict_from_divided(divided, uniqe,N)
print('full_dict[''ERR_400'']: ', full_dict['ERR_400'])

c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

N: 4
uniqe_values: ['ERR_400' 'ERR_500' 'INFO_200' 'WARN_101' 'ERR_404']
ERR_400
ERR_500
INFO_200
WARN_101
ERR_404
Value: ERR_400, Frequency: 49745
Value: ERR_500, Frequency: 49832
Value: INFO_200, Frequency: 50044
Value: WARN_101, Frequency: 50250
Value: ERR_404, Frequency: 50129
uniqe_values: ['ERR_400' 'ERR_500' 'INFO_200' 'WARN_101' 'ERR_404']
ERR_400
ERR_500
INFO_200
WARN_101
ERR_404
Value: ERR_400, Frequency: 49765
Value: ERR_500, Frequency: 50147
Value: INFO_200, Frequency: 49959
Value: WARN_101, Frequency: 50251
Value: ERR_404, Frequency: 49878
uniqe_values: ['ERR_400' 'ERR_500' 'INFO_200' 'WARN_101' 'ERR_404']
ERR_400
ERR_500
INFO_200
WARN_101
ERR_404
Value: ERR_400, Frequency: 50316
Value: ERR_500, Frequency: 49872
Value: INFO_200, Frequency: 50018
Value: WARN_101, Frequency: 49625
Value: ERR_404, Frequency: 50169
uniqe_values: ['ERR_400' 'ERR_500' 'INFO_200' 'WARN_101' 'ERR_404']
ERR_400
ERR_500
INFO_200
WARN_101
ERR_404
Value: ERR_400, Frequency: 50243
Value: ERR_500, Frequency: 49957
Value: INFO_200, Frequency: 49910
Value: WARN_101, Frequency: 49972
Value: ERR_404, Frequency: 49918
full_dict[ERR_400]:  200069

In [12]:
np.sum(errs == 'INFO_200')+np.sum(errs == 'ERR_500')+np.sum(errs == 'ERR_400')+np.sum(errs == 'WARN_101')+np.sum(errs == 'ERR_404')

c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

err    1000000
dtype: int64

In [14]:
freq = []
newdict = {}
for u in uniqe:
    freq.append(full_dict[u])
    newdict[full_dict[u]].append(u)
freq = np.array(freq)

KeyError: np.int64(200069)

In [ ]:
newdict

In [ ]:
freq = -np.sort(-freq)
print(freq)

[200098 200094 200069 199931 199808]

In [ ]:
print('the most N common errors:') #the N is initialized above
res = []
for i in range(N):
    res.append([newdict[freq[i]], freq[i]])
    #print('frequency:', freq[i], 'error:', newdict[freq[i]])
res

the most N common errors:

[['WARN_101', np.int64(200098)],
 ['ERR_404', np.int64(200094)],
 ['ERR_400', np.int64(200069)],
 ['INFO_200', np.int64(199931)]]

time complexity of the algorithm is O(nlogn) on average.
O(nlogn) because of the sorting step. 
the rest operations are O(n) on average because it uses:
    known number of times (the callings) * n errors * O(1) on average- the complexity of the dictionary operations- hash table.

place complexity of the algorithm is O(n) because of the dictionary and the array that we created.
acctually, it takes a few times O(n) but it known number of times- we can look at the code to see that, so it is O(n) in the end.